spring:
  datasource:
    url: jdbc:mysql://localhost:3306/home?verifyServerCertificate=false&useSSL=false
    username: home
    password: home1234
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
  data:
    rest:
      return-body-on-create: true


---

########################################################################################################################
### Production
########################################################################################################################
spring:
  profiles: production
  datasource:
    url: jdbc:mysql://172.18.0.2:3306/home?verifyServerCertificate=false&useSSL=false
    username: home
    password: home1234
    driver-class-name: com.mysql.jdbc.Driver
